/* 
========================================================================== */
@import 'scss/bootstrap-grid';

/* 
Page overrides
========================================================================== */

.main{width: 100%; padding: 0 !important;}.main #content {padding: 0 !important;}.action-box{background-color: #fff !important; max-width: 145px !important;}.action-box li a{color: #8DC63F !important;}.action-box li a i{background-color: #8DC63F; border-radius: 50%; padding: 5px;}.icon-share:before{color: #fff;}.page-template-page-wide .main-container .wrapper{background: #fff;}
/* 
Media Queries
========================================================================== */
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

@mixin screenSmall {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin screenMedium {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin screenLarge {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

/* 
Variables - Typography
========================================================================== */
$boldFont 				: 'Nexa Bold';
$bookFont 				: 'Nexa Book';
$regFont 				: 'Nexa Regular';
$lightFont 				: 'Nexa Light';


/* 
Variables - Colors + spacers
========================================================================== */
$colorWhite				: #ffffff;
$colorBlack				: #000000;
$colorGrey				: #767777;

$colorLeafBG			: #36982e;
$colorLeafBG85			: #54a74d;
$colorLeafBG45			: #a5d1a1;
$colorLeafTXT			: #227b13;

$copySizeDefault		: 16px;
$headingSizeSmall		: 22px;
$headingSizeLarge		: 34px;

$spacerExtraLarge		: 100px;
$spacerLarge			: 70px;
$spacerMedium			: 45px;
$spacerSmall			: 25px;

$mobileGutterSize		: 20px;



/* 
Variables - Utilites
========================================================================== */
%container{
	width: 100%;
	max-width: 1010px;
	margin: 0 auto;
	box-sizing: border-box;
}

%mobileGutter{
	padding-left: $mobileGutterSize;
	padding-right: $mobileGutterSize;
	box-sizing: border-box;
	@include screenLarge{
		padding-left: 0;
		padding-right: 0;		
	}
}

@mixin headingDefault($color){
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: $lightFont;
	color: $color;
	font-size: $headingSizeSmall;

	@include screenSmall{
		font-size: $headingSizeLarge;		
	}
}



@mixin copyDefault($color){
	font-family: $bookFont;
	font-size: $copySizeDefault;
	line-height: 1.2;
	color: $color;
	margin: 15px 0;
}

@mixin btnDefault($txtColor, $bgColor){
	padding: 10px 25px;
	background: $bgColor;
	border: 0;
	color: $txtColor;
	font-family: $boldFont;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	&:hover{
		background: rgba($bgColor, 0.82);
		cursor: pointer;
	}
	&:focus{
		outline: 0;
	}

	@include screenSmall {
		padding: 15px 35px;
		font-size: 18px;
	}
}

%alignHorz {
	position: absolute; 
	left: 50%; 
	transform: translateX(-50%);
}

/* 
Experience Specific 
========================================================================== */
.colorblind {
	
	font-family: $regFont;
	&_arrow{
		
		&_green{
			path{
				fill: $colorLeafBG !important;
			}
		}
	}

	.container {
		max-width: 1010px;
	}

	&_header {
		padding: $spacerSmall 0;
		@include screenMedium{
			padding: $spacerMedium 0;		
		}
		&_title {
			@include headingDefault($colorLeafTXT);
			font-size: 36px;
			margin-bottom: 15px;
			@include screenSmall{
				margin-bottom: 0;		
			}
		}
		&_copy {
			@include copyDefault($colorGrey);
			font-size: 18px;
			margin: 0;
		}
	}
	.colorblind_header_link_scroll{
		color: $colorGrey;
		text-decoration: underline;
	}

	.hero {
		position: relative;
		@include screenSmall{
			background: url(https://eyemed-pages.s3-us-west-2.amazonaws.com/ConditionSimulator/lp_condition_simulator_hero.jpg) center center;	
			background-size: cover;
			padding: 80px 0 65px;	
		}
		&_mobile_img{
			width: 100%;
			height: auto;
			display: block;
			@include screenSmall{
				display: none;		
			}
			
		}

		&_txt {
			background: $colorWhite;
			//padding: $spacerSmall 0;
			padding-top: $mobileGutterSize;
			padding-bottom: $mobileGutterSize;
			text-align: center;
			@include screenSmall{
				padding: 60px 70px 60px 35px;	
				margin-right: 15px;	
				text-align: left;
			}
			@include screenLarge{
				margin-right: 0;
			}
		}

		&_icon {
			margin-bottom: 24px;
		}

		&_heading {
			@include headingDefault($colorLeafTXT);
			font-size: $headingSizeLarge;
			@include screenSmall {
				@include headingDefault($colorLeafTXT);
			}
		}
		&_copy {
			@include copyDefault($colorGrey);
			margin-bottom: $spacerMedium;
			@include screenSmall {
				margin-bottom: 0;
			}
		}
		&_cta {
			@include btnDefault($colorLeafTXT, $colorWhite);
		}
		.colorblind_arrow{
			@extend %alignHorz;
			bottom: 10px;
		}
	}

	.intro {
		padding: 41px 0;
		background: #f9f9f9;
		@include screenSmall {
			background: $colorWhite;
			padding-top: 93px;
			padding-bottom: 74px;
		}
		.hero_heading {
			font-size: 25px;
			@include screenSmall{
				font-size: $headingSizeLarge;		
			}
			@include screenMedium {
				font-size: 52px;
			}
			text-align: center;
		}
	}

	.types {
		&_button {
			@include btnDefault($colorWhite, $colorLeafBG);
			margin: 0 5px;
			padding-left: 0;
			padding-right: 0;
			width: 33%;
			@include screenMedium{
				width: auto;
			}
			&.active{
				background: rgba($colorLeafBG, 0.8);
			}

			&_wrapper {
				padding: 40px 0 $spacerSmall;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				@include screenSmall{
					padding: 40px 0 55px;		
				}
				@include screenMedium{
					justify-content: center;
				}
			}
		}
		&_heading {
			@include headingDefault($colorLeafTXT);
			@include screenSmall{
				text-align: center;		
			}
		}
		&_copy {
			@include copyDefault($colorBlack);
			margin-bottom: 0;
		}
	}

	.compare {
		position: relative;
			//height: 1200px;
		@include screenMedium{
			//height: 590px;
		}
		&_wrapper {
			background: $colorLeafBG;
			//position: absolute;
		}
		&_images {
			padding: 0;
			height: 100vw;
			@include screenSmall {
				height: 580px;
			}
			background: url(https://eyemed-pages.s3-us-west-2.amazonaws.com/ConditionSimulator/country-side.jpg) center center;
			// At this screen size, the container needs to have a slightly bigger height due to one of the definitions breaking a line
			// @media screen and (max-width: 1000px) and (min-width: 992px) {
			// 	height: 778px;
			// }
		}

		&_instructions {
			height: 100%;
			background: rgba(0,0,0,0.7);
			text-align: center;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 $spacerSmall;
			&_container {
				width: 100%;
			}
			&_heading {
				color: $colorWhite;
				font-size: $headingSizeSmall;
				margin-bottom: 0;
				@include screenSmall() {
					max-width: 66%;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&_txt {
				color: $colorWhite;
				margin-top: 10px;
				margin-bottom: 30px;
			}
			&_close {
				@include btnDefault($colorWhite, $colorLeafBG)
			}
		}

		#explore {
			height: 100%;
			background: rgba(0,0,0,0.7);
			text-align: center;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 $spacerSmall;
			&_msg {
				width: 100%;
			}
		}

		.explore_heading {
			margin-top: 0;
		}

		&_image_original,
		&_image_color{
			height: 100%;
			width: 100%;

			@include screenMedium{
				width: 675px;
			}
		}
		&_txt {
			padding-bottom: $mobileGutterSize;
			
			@include screenMedium{
				padding: 0 25px;
			}
		}
		&_heading {
			@include headingDefault($colorWhite);
		}
		&_list {
			margin-bottom: 25px;
			padding-left: 18px;
		}
		&_copy {
			@include copyDefault($colorWhite);
		}
		&_select {
			&_item {
				background: transparent;
				border: 0;
				width: 100%;
				text-align: left;
				color: $colorWhite;
				font-family: $boldFont;
				font-size: 16px;
				margin-bottom: 11px;
				padding: 0;
				&:hover{
					cursor: pointer;
				}
				&:focus{
					outline: 0;
				}
				&_name {
					position: relative;
					top: -8px;
					padding-left: 10px;
				}
				&_text {
					height: 345px;
					overflow-y: auto;
					font-size: 14px;
					@include screenSmall {
						height: 321px;
					}
					@include screenMedium {
						height: 312px;
					}
					color: $colorWhite;
					a {
						color: $colorWhite;
					}
					.break {
						word-break: break-all;
					}
					strong {
						font-family: $boldFont;
					}
				}
			}
			&_wrapper {
				padding: 20px 0;
				padding-bottom: 0;
				@include screenMedium {
					padding-bottom: unset;
				}
			}
			&_title {
				color: $colorWhite;
				font-size: 18px;
				text-align: center;
				display: block;
				font-family: $boldFont;
			}
			&_icon {
				width: 60px;
				height: 37px;
				margin: 5px auto;
				display: block;
				fill:none;
				stroke:#86c182;
				stroke-width:2px;
				
			}
			&_container {
				.compare_select_item_text {
					display: none;
				}
				.compare_select_btn_container {
					display: none;
				}
				.compare_select_item_plus {
					display: inline;
				}
				.compare_select_item_minus {
					display: none;
				}
				&_active {
					.compare_select_item_text {
						display: block;
					}
					.compare_select_btn_container {
						display: block;
					}
					.compare_select_item_plus {
						display: none;
					}
					.compare_select_item_minus {
						display: inline;
					}
				}
			}
			&_doctors_view_wrapper {
				margin-bottom: 20px;
				&.has_disabled_button {
					cursor: not-allowed;
				}
			}
			&_doctors_view {
				@include btnDefault($colorLeafTXT, $colorWhite);
				width: 100%;
				&_active {
					@include btnDefault($colorWhite, $colorLeafTXT);
					pointer-events: none;
					cursor: not-allowed;
				}
			}
			&_learn_more {
				@include btnDefault($colorLeafTXT, $colorWhite);
				width: 100%;
				margin-bottom: 20px;
			}
			&_go_back {
				color: $colorWhite;
				&:hover {
					cursor: pointer;
				}
			}
		}

		&_active {
			svg {
				fill:#86c182;
			}
		}

	}

	.schedule {
		text-align: center;
		padding-top: 75px;
		padding-bottom: 65px;
		&_txt {
			font-size: 16px;
			line-height: 24px;
			color: $colorGrey;
			margin: 0;
		}
		&_cta {
			@include btnDefault($colorWhite, $colorLeafBG);
		}
	}
	.footnotes {
		background: #f9f9f9;
		padding: 20px 0;

		.small {
			font-size: 10px;
			line-height: 12px;
			color: $colorGrey;
		}
		sup {
			font-size: 70%;
			line-height: 0;
		}
	}




.cd-image-container {
  position: relative;
  margin: 0em auto;
  overflow: hidden;
  height: 100%;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-right: 4px solid white;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 675px;
  max-width: none !important;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  55% {
    width: 65%;
  }
  80% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  55% {
    width: 65%;
  }
  80% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  55% {
    width: 65%;
  }
  80% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}

@keyframes fadeIn {
	from {
		transform: translate3d(0, 0, 0) scale(0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
}
.cd-handle {
  position: absolute;
  height: 88px;
  width: 88px;
  /* center the element */
  left: 50%;
  top: 85%;
  margin-left: -46px;
  margin-top: -44px;
  border-radius: 50%;
  cursor: move;
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(0);
  overflow: hidden;
}
.cd-handle.draggable {
  /* change background color when element is active */
}
.is-visible .cd-handle {
  animation: fadeIn 0.4s 0.5s forwards;
}

}

.invisible-btn {
	visibility: hidden;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}